Repository MEscape/die-macher: changes, and which pre-commit hooks are due for each by the changed paths.
All: raspi-format, system1-format, system2-format

raspi-format:
  name: Format Raspi Python code
  entry: cmd /c 'cd app\\raspi && scripts\\format.bat'
  language: system
  pass_filenames: false

system1-format:
  name: Format System 1 Java code
  entry: bash -c 'cd app/system_1 && ./mvnw spotless:apply'
  language: system
  pass_filenames: false

system2-format:
  name: Format System 2 Java code
  entry: bash -c 'cd app/system_2 && ./mvnw spotless:apply'
  language: system
  pass_filenames: false

fix(14-SID): fix CustomHeaderSerializer, add FlowTypeContextHolder
  app/system_1/src/main/java/com/die_macher/opcua_client/OpcuaSensorDataService.java
  app/system_1/src/main/java/com/die_macher/tcp_server/config/TcpServerConfig.java
  app/system_1/src/main/java/com/die_macher/tcp_server/config/TcpServerProperties.java
  app/system_1/src/main/java/com/die_macher/tcp_server/context/FlowTypeContextHolder.java
  app/system_1/src/main/java/com/die_macher/tcp_server/handler/ServerInboundEndpoint.java
  app/system_1/src/main/java/com/die_macher/tcp_server/serializer/CustomHeaderSerializer.java
  app/system_1/src/main/java/com/die_macher/tcp_server/service/TcpDataDispatcher.java
  app/system_1/src/main/java/com/die_macher/tcp_server/service/TcpSender.java
  app/system_1/src/main/resources/application.properties
Due: system1-format

fix(14-SID): fix raspi opcua server
  app/raspi/main.py
  app/raspi/modules/opc_ua/server.py
Due: raspi-format

tests(14-SID): adjust raspi opcua tests
  app/raspi/tests/test_opc_ua_server.py
  app/system_1/src/main/java/com/die_macher/opcua_client/OpcuaSensorDataService.java
Due: raspi-format, system1-format

feature(14-SID): Implemented TCP client in system 2; integrated Awattar Day API and Robot API
  app/system_1/src/main/java/com/die_macher/opcua_client/OpcuaSensorDataService.java
  app/system_1/src/main/java/com/die_macher/tcp_server/config/TcpServerConfig.java
  app/system_1/src/main/java/com/die_macher/tcp_server/service/MessageHandler.java
  app/system_2/src/main/java/com/die_macher/application/config/TcpClientConfig.java
  app/system_2/src/main/java/com/die_macher/application/config/TcpServerConfig.java
  app/system_2/src/main/java/com/die_macher/application/event/TcpConnectionEventHandler.java
  app/system_2/src/main/java/com/die_macher/application/event/TcpConnectionRegistry.java
  app/system_2/src/main/java/com/die_macher/application/service/PriceDataService.java
  app/system_2/src/main/java/com/die_macher/application/service/TcpMessageConverter.java
  app/system_2/src/main/java/com/die_macher/application/service/TcpMonitoringClientService.java
  app/system_2/src/main/java/com/die_macher/application/tcp_client/TcpConnectionManager.java
  app/system_2/src/main/java/com/die_macher/application/tcp_client/TcpConnectionRegistry.java
  app/system_2/src/main/java/com/die_macher/application/tcp_client/TcpMessageSender.java
  app/system_2/src/main/java/com/die_macher/application/transformer/PriceDataTransformer.java
  app/system_2/src/main/java/com/die_macher/domain/model/price/PriceData.java
  app/system_2/src/main/java/com/die_macher/domain/port/inbound/TcpMonitoringClientProvider.java
  app/system_2/src/main/java/com/die_macher/infrastructure/adapter/persistence/mapper/PriceDataMapper.java
  app/system_2/src/main/java/com/die_macher/infrastructure/adapter/web/config/StringToWhichConverter.java
  app/system_2/src/main/java/com/die_macher/infrastructure/adapter/web/controller/PriceDataController.java
  app/system_2/src/main/java/com/die_macher/infrastructure/adapter/web/dto/PriceDataResponse.java
  app/system_2/src/main/java/com/die_macher/infrastructure/adapter/web/dto/TomorrowDataRequest.java
  app/system_2/src/main/java/com/die_macher/infrastructure/config/properties/TcpClientProperties.java
  app/system_2/src/main/resources/application.properties
Due: system1-format, system2-format

feature(14-SID): add test_opcua_server; increase system 2 timeout
  app/raspi/test_opcua_server/opcua_certs/server-cert.pem
  app/raspi/test_opcua_server/opcua_certs/server-key.pem
  app/raspi/test_opcua_server/server/server.py
  app/system_1/src/main/java/com/die_macher/pick_and_place/service/PickAndPlaceOrchestrator.java
  app/system_2/src/main/java/com/die_macher/application/config/TcpClientConfig.java
Due: raspi-format, system1-format, system2-format

fix(16-SID): system 3 missing import
  app/system_2/src/main/java/com/die_macher/infrastructure/adapter/web/controller/PriceDataController.java
  app/system_2/src/main/resources/application.properties
Due: system2-format

fix(16-SID): ci cd
  .github/workflows/system_3_workflow.yml
  app/system_3/next.config.js
Due: none

Path conditions:
  raspi-format: any of: ^app/raspi/.*\.(py|pyi)$
  system1-format: any of: ^app/system_1/.*\.(java|xml)$
  system2-format: any of: ^app/system_2/.*\.(java|xml)$
